.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #313e4b;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background: #0b2263;
  color: floralwhite; }
  

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #2776dd; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background: #2776dd; }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

.slider-product-one-content{
  background-color: #2776dd;
  padding: 12px;
}
.slider-product-one-content-items{
  display: flex;
  justify-content: space-evenly;
}
.slider-product-one-content-item:hover > img{
  transform: translateY(-20px);
}
.slider-product-one-content-item{
  width: 19%;
  background-color: #fff;
  padding: 50px 12px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.slider-product-one-content-item img{
width: 100%;
transition: all 0.5s ease;
}
.slider-product-one-content-text li{
  margin-bottom: 6px;
  font-size: 15px;
}
.slider-product-one-content-text li :last-child{
  font-size: 20px;
}
.banner{
  display: flex;
}
#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }
